<!-- Jumbotron -->
<html>
    <head>
        <title>lenity</title>
            <script src="https://code.jquery.com/jquery-3.2.1.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4=" crossorigin="anonymous"></script>
            <script src="/assets/len.js"></script>
            <link href="/assets/styles.css" rel="stylesheet" type="text/css" />
            <script src="/socket.io/socket.io.js"></script>
    </head>
    <body>
<div class="jumbotron">
  <h1>Secret Page!</h1>
  <p class="lead">Only logged in users should be see this.</p>
  <p class="lead">Username: <%= username %></p>
</div>
</body>
</html>
