<html>
    <head>
        <title>lenity</title>
            <script src="https://code.jquery.com/jquery-3.2.1.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4=" crossorigin="anonymous"></script>
            <script src="/assets/len.js"></script>
            <link href="/assets/styles.css" rel="stylesheet" type="text/css" />
    </head>
    <body>
        <h1>Lenity</h1>
        <div id="lenity-table">
            <form id="form2">
                <input type="text" name="name" id="name" placeholder="name" required / >
                <select name="category" id="category">
                    <option value="clothes">clothes</option>
                    <option value="books">books</option>
                  </select>
                  <br>
                  <input type="text" name="location" id="location" placeholder="location" required / >
                <input type="text" name="description" id="description" placeholder="description" required / >
                <input type="number" name="quantity" id="quantity" placeholder="quantity" required / >
                <input type="number" name="age" id="age" placeholder="age" required / >
                <input type="text" name="delivery_location" id="delivery_location" placeholder="delivery_location" required / >
                <button type="submit">donate food</button>
            </form>
    </body>
</html>

