<form class="form-signin" action="/users/register" method="POST">
  <h2 class="form-signin-heading">Please sign up</h2>

  <label for="inputUsername" class="sr-only">Username</label>
  <input type="text" id="inputUsername" name="username" class="form-control" placeholder="Username" required>

  <label for="inputfirstname" class="sr-only">Firstname</label>
  <input type="text" id="inputfirstname" name="firstname" class="form-control" placeholder="Firstname" required>

  <label for="inputlastname" class="sr-only">Lastname</label>
  <input type="text" id="inputlastname" name="lastname" class="form-control" placeholder="Lastname" required>

  

  <label for="inputEmail" class="sr-only">Email address</label>
  <input type="email" id="inputEmail" name="email" class="form-control" placeholder="Email address" required autofocus>

  <label for="inputcontactno" class="sr-only">ContactNo.</label>
  <input type="text" id="inputcontactno" name="contactno" class="form-control" placeholder="Contact Number" required>

  <label for="inputaddress" class="sr-only">Address</label>
  <input type="text" id="inputaddress" name="address" class="form-control" placeholder="Address" required>

  <label for="inputPassword" class="sr-only">Password</label>
  <input type="password" id="inputPassword" name="password" class="form-control" placeholder="Password" required>

  <label for="inputConfirmPassword" class="sr-only">Confirm Password</label>
  <input type="password" id="inputConfirmPassword" name="confirmationPassword" class="form-control" placeholder="Confirm Password" required>

  <br/>

  <button class="btn btn-lg btn-default btn-block" type="submit">Sign up</button>
</form>